<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./libs/vue-2.4.0.js"></script>
</head>
<body>
    <div id="app">
        ID:<input type="text" v-model="id"> 
        name:<input type="text" v-model="name"> 
        <button @click="add">添加</button>
        <p v-for="item in list">
            ID:{{item.id}}----------name:{{item.name}}
        </p>
    </div>





    <script>
        var vm=new Vue({
            el:"#app",
            data:{
                id:'',
                name:'',
                list:[
                    {id:1,name:'赵高' },
                    {id:2,name:'韩信' },
                    {id:3,name:'李四' },
                    {id:4,name:'王老五' }
                ]
            },
            methods:{
                add(){
                    this.list.push({id:this.id,name:this.name});
                    this.name="";
                    this.id="";
                }
            }

        });
    </script>
</body>
</html>